<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Graduation Project</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.LoginServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
   </servlet-mapping>
    <servlet>
    
    <servlet-name>SearchAllManager</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllManagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllManager</servlet-name>
    <url-pattern>/allManager</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>SearchAllAmanager</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllAManagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllAmanager</servlet-name>
    <url-pattern>/allAmanager</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>SearchAllTeacher</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllTeacherServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllTeacher</servlet-name>
    <url-pattern>/allTeacher</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>SearchAllStudent</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllStudentServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllStudent</servlet-name>
    <url-pattern>/allStudent</url-pattern>
   </servlet-mapping>
   
    <servlet>
    <servlet-name>AddAcademy</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddAcademyservlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddAcademy</servlet-name>
    <url-pattern>/addAcademy</url-pattern>
   </servlet-mapping>
   
    <servlet>
    <servlet-name>SearchAllAcademy</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllAcademyServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllAcademy</servlet-name>
    <url-pattern>/searchAllAcademy</url-pattern>
   </servlet-mapping>
   
   
    <servlet>
    <servlet-name>AddAManager</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddAmanagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddAManager</servlet-name>
    <url-pattern>/addAmanager</url-pattern>
   </servlet-mapping>
   
     <servlet>
    <servlet-name>AddManager</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddManagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddManager</servlet-name>
    <url-pattern>/addManager</url-pattern>
   </servlet-mapping>
   
     <servlet>
    <servlet-name>DeleteManager</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.DeleteManagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DeleteManager</servlet-name>
    <url-pattern>/deleteManager</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>UpdateManagerInfo</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateManagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>UpdateManagerInfo</servlet-name>
    <url-pattern>/updateManagerInfo</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>UpdateAmanagerInfo</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateAmanagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>UpdateAmanagerInfo</servlet-name>
    <url-pattern>/updateAmanagerInfo</url-pattern>
   </servlet-mapping>
   
    <servlet>
    <servlet-name>DeleteAmanager</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.DeleteAmanagerServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DeleteAmanager</servlet-name>
    <url-pattern>/deleteAmanager</url-pattern>
   </servlet-mapping>
   
    <servlet>
    <servlet-name>SearchAllDissertation</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllFdissertationServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllDissertation</servlet-name>
    <url-pattern>/searchAllDissertation</url-pattern>
   </servlet-mapping>
   
    
   <servlet>
    <servlet-name>DeleteDissertation</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.DeleteDissertationServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DeleteDissertation</servlet-name>
    <url-pattern>/deleteDissertation</url-pattern>
   </servlet-mapping>
   
    <servlet>
    <servlet-name>SeeAllDissYes</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllDissertationYesServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SeeAllDissYes</servlet-name>
    <url-pattern>/seeAllDissYes</url-pattern>
   </servlet-mapping>
   
   
   
    <servlet>
    <servlet-name>SearchDissByid</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchDissByidServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchDissByid</servlet-name>
    <url-pattern>/searchDissByid</url-pattern>
   </servlet-mapping>
   
 <servlet>
    <servlet-name>DissNO</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllDissertationNoServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DissNO</servlet-name>
    <url-pattern>/seeNo</url-pattern>
   </servlet-mapping>
   <!-- 审核通过 -->
    <servlet>
    <servlet-name>EVAYes</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateDiss2YesServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>EVAYes</servlet-name>
    <url-pattern>/eavYes</url-pattern>
   </servlet-mapping>
   <!-- 审核驳回 -->
    <servlet>
    <servlet-name>EVANo</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateDiss2NoServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>EVANo</servlet-name>
    <url-pattern>/eavNo</url-pattern>
   </servlet-mapping>
    <!-- 查看已经通过的 -->
   <servlet>
    <servlet-name>SeeAllYes</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllDissertationYesServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SeeAllYes</servlet-name>
    <url-pattern>/seeAllYes</url-pattern>
   </servlet-mapping>
   <!-- 添加论文   addDissertation -->
     <servlet>
    <servlet-name>AddDissertation</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddDissertationServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddDissertation</servlet-name>
    <url-pattern>/addDissertation</url-pattern>
   </servlet-mapping>
   <!-- 老师管理论文glDissertation -->
    <servlet>
    <servlet-name>GlDissertation</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.GlDissertationServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>GlDissertation</servlet-name>
    <url-pattern>/glDissertation</url-pattern>
   </servlet-mapping>
   <!-- 老师删除自己的论文 "deleteDissByTeacher-->
    <servlet>
    <servlet-name>DeleteDissByTeacher</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.DeleteDissByTeacherServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DeleteDissByTeacher</servlet-name>
    <url-pattern>/deleteDissByTeacher</url-pattern>
   </servlet-mapping>
   <!-- 修改论文 updateDiss-->
   <servlet>
    <servlet-name>UpdateDiss</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateDissServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>UpdateDiss</servlet-name>
    <url-pattern>/updateDiss</url-pattern>
   </servlet-mapping>
   <!-- 提交修改updateDissbyTeacher -->
   <servlet>
    <servlet-name>UpdateDissbyTeacher</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateDissbyTeacherServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>UpdateDissbyTeacher</servlet-name>
    <url-pattern>/updateDissTeacher</url-pattern>
   </servlet-mapping>
   <!-- 修改老师信息UpdateTeacherInfoServlet -->
    <servlet>
    <servlet-name>UpdateTeacherInfo</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateTeacherInfoServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>UpdateTeacherInfo</servlet-name>
    <url-pattern>/updateTeacherInfo</url-pattern>
   </servlet-mapping>
   <!-- 查看某个学院的所有      论文serachallDiss -->
    <servlet>
    <servlet-name>SerachallDiss</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SerachallDissServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SerachallDiss</servlet-name>
    <url-pattern>/serachallDiss</url-pattern>
   </servlet-mapping>
   <!-- 选择论文choose -->
    <servlet>
    <servlet-name>Choose</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.ChooseServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>Choose</servlet-name>
    <url-pattern>/choose</url-pattern>
   </servlet-mapping>
   <!-- 查看论文 seeDiss-->
    <servlet>
    <servlet-name>SeeDiss</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SeeDissServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SeeDiss</servlet-name>
    <url-pattern>/seeDiss</url-pattern>
   </servlet-mapping>
   <!-- 退选 noChoose -->
   <servlet>
    <servlet-name>NoChoose</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.NoChooseServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>NoChoose</servlet-name>
    <url-pattern>/noChoose</url-pattern>
   </servlet-mapping>
   <!-- 修改学生个人信息 updateStudentInfo-->
    <servlet>
    <servlet-name>UpdateStudentInfo</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.UpdateStudentInfoServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>UpdateStudentInfo</servlet-name>
    <url-pattern>/updateStudentInfo</url-pattern>
   </servlet-mapping>
   
   <!--学院管理员查看所有老师  -->
   <servlet>
    <servlet-name>AcademyTeacher</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchTeacherByAcademyServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AcademyTeacher</servlet-name>
    <url-pattern>/academyTeacher</url-pattern>
   </servlet-mapping>
    <!-- 删除老师-->
   <servlet>
    <servlet-name>DeleteTeacherByid</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.DeleteTeacherByIdServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DeleteTeacherByid</servlet-name>
    <url-pattern>/deleteTeacherByid</url-pattern>
   </servlet-mapping>
    <!-- 添加老师-->
  <servlet>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddTeahcherServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/addTeacher</url-pattern>
   </servlet-mapping>
   
     <!-- 添加班级addClass-->
  <servlet>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddClassServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddClass</servlet-name>
    <url-pattern>/addClass</url-pattern>
   </servlet-mapping>
   <!-- 查看本学院某专业所有班级searchClassByProfess -->
   <servlet>
    <servlet-name>SearchClassByProfess</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchClassByProfessServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchClassByProfess</servlet-name>
    <url-pattern>/searchClassByProfess</url-pattern>
   </servlet-mapping>
     <!-- 查看本学院所有专业 -->
      <servlet>
    <servlet-name>SearchAllProfession</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllProfessionServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>SearchAllProfession</servlet-name>
    <url-pattern>/searchAllProfession</url-pattern>
   </servlet-mapping>
   
   <!-- 查看本班级所有学生allStudentbyClass -->
      <servlet>
    <servlet-name>AllStudentbyClass</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.SearchAllStudentbyClassServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AllStudentbyClass</servlet-name>
    <url-pattern>/allStudentbyClass</url-pattern>
   </servlet-mapping>
   <!-- 根据班级插入学生 addStudent -->
    <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.AddStudentServlet</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
   </servlet-mapping>
   <!-- 根据学生id 删除学生  deleteStduent -->
   <servlet>
    <servlet-name>DeleteStduent</servlet-name>
    <servlet-class>com.Graduationdesign.servlet.DeleteStudentServlet2</servlet-class>
   </servlet>
   <servlet-mapping>
   <servlet-name>DeleteStduent</servlet-name>
    <url-pattern>/deleteStduent</url-pattern>
   </servlet-mapping>
</web-app>
  